:80 {
	@immutable path_regexp \-([a-zA-Z0-9]{7,8})\$
  @serviceWorker path /sw.js
  @html path /index.html
  @static_asset {
		path_regexp \.(css|js|txt|json|svg)$
		not path_regexp \-([a-zA-Z0-9]{7,8})\$
	}

	file_server
	root * /srv/app
  try_files {path} {path}/ @html

	header @serviceWorker Cache-Control "no-store, no-cache, must-revalidate"
  header @immutable Cache-Control "public, max-age=31536000, immutable"
  header @html Cache-Control "public, max-age=0, must-revalidate"
	header @static_asset Cache-Control "public, max-age=3600"

	respond /health 200 {
		body `{"status": "ok"}`
	}
}
