# Application variables
NODE_ENV="development"
PORT=3000
LOG_LEVEL="info"
COOKIE_SECRET=""
COOKIE_DOMAIN=""
SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""
CLOUDFLARE_SITE_KEY=""
CLOUDFLARE_SITE_SECRET_KEY=""

# Authentication variables
BETTER_AUTH_SECRET=""
PEPPER_SECRET=""

# Email variables
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
MAIL_USER=""
MAIL_PASS=""

# Database variables
DATABASE_URL=""
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

# Payment variables
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
