# Application variables
NODE_ENV="development"
PORT=5000
HOST="127.0.0.1"
ORIGIN="http://localhost:5000"
LOG_LEVEL="info"
COOKIE_SECRET=""
COOKIE_DOMAIN="localhost"
SENTRY_AUTH_TOKEN
SENTRY_DSN
MAX_HEAP_USED_BYTES=0
MAX_RSS_BYTES=0

# Authentication variables
BETTER_AUTH_SECRET=""
PEPPER_SECRET=""

# Email variables
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE=false

# Database variables
DATABASE_URL=""
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD

# Payment variables
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
LEARN_FASTIFY_POLAR_PRODUCT_ID=""

# Prometheus variables
PROMETHEUS_HOST="localhost"
PROMETHEUS_PORT=9090

# R2 Images
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""
R2_ENDPOINT="https://<your-account-id>.r2.cloudflarestorage.com"
R2_PUBLIC_URL=""

# Support Ticket variables
SUPPORT_ASSIGNED_TO_USER_ID=""

# Google API Keys (if using Google services)
# GOOGLE_API_KEY=""
# GOOGLE_MAPS_API_KEY=""
# GOOGLE_OAUTH_CLIENT_ID=""
# GOOGLE_OAUTH_CLIENT_SECRET=""

