* {
  max-inline-size: var(--max-inline-size);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  padding: var(--space-size-2) var(--space-size-1);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-size-3);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", serif;
}

/* https://webkit.org/blog/16831/line-height-units/ */
p {
  margin-block: 1lh;
}

img {
  max-inline-size: 100%;
}

a {
  text-decoration-color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

[id] {
  scroll-margin-top: 120px;
}
