:root {
  /* Color */
  --color-base-100: oklch(0.28 0.03 257.69);
  --color-base-200: oklch(0.25 0.03 258.33);
  --color-base-300: oklch(0.21 0.03 263.45);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: oklch(0.63 0.19 149.21);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(0.8 0.18 86.05);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(0.37 0.03 260.19);
  --color-accent-content: oklch(1 0 0);
  --color-neutral: oklch(0.99 0 0);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(0.38 0.15 265.52);
  --color-info-content: oklch(0.81 0.1 250.46);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(0.41 0.12 38.18);
  --color-warning-content: oklch(0.65 0.22 41.12);
  --color-error: oklch(0.7 0.19 22.22);
  --color-error-content: oklch(0.58 0.24 27.33);

  /* Spacing */
  --space-base: clamp(1rem, 1rem + 0vw, 1rem);
  --space-size-0: clamp(0.83rem, 0.9rem + -0.32vw, 0.67rem);
  --space-size-1: clamp(1.2rem, 1.08rem + 0.59vw, 1.5rem);
  --space-size-2: clamp(1.44rem, 1.12rem + 1.58vw, 2.25rem);
  --space-size-3: clamp(1.73rem, 1.09rem + 3.21vw, 3.38rem);
  --space-size-4: clamp(2.07rem, 0.91rem + 5.83vw, 5.06rem);
  --space-size-5: clamp(2.49rem, 0.5rem + 9.96vw, 7.59rem);
  --space: 1em;

  /* Size */
  --ratio: 1.61803398875; /* Golden ratio */
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --border-thin: 1px;
  --cluster-horizontal-alignment: flex-start;
  --cluster-vertical-alignment: center;
  --gutter: 2rem;
  --max-inline-size: 65ch;
  --sidebar-content-min-width: 50%;
  --sidebar-target-width: 20rem;
  --switcher-target-container-width: 40rem;
  --switcher-vertical-alignment: flex-start;
}
